<launch>
  <arg name="data_dir" />
  <param name="ec_cluster_tolerance" value="0.03" />
  <param name="ec_min_cluster_size" value="700" />
  <param name="ec_max_cluster_size" value="7500" />
  <param name="distance_above_plane" value="0.01" />
  <param name="crop_min_x" value="0,9" />
  <param name="crop_min_y" value="-0.37" />
  <param name="crop_min_z" value="0.745" />
  <param name="crop_max_x" value="1.1" />
  <param name="crop_max_y" value="0.38" />
  <param name="crop_max_z" value="2.0" />
  <param name="reg_curvature_threshold" value="1" />
  <param name="reg_distance_threshold" value="0.5f" />
  <param name="reg_k_search" value="30" />
  <param name="reg_max_cluster_size" value="10000" />
  <param name="reg_min_cluster_size" value="500" />
  <param name="reg_num_of_neighbors" value="20" />
  <param name="reg_point_color_threshold" value="7" />
  <param name="reg_region_color_threshold" value="10" />
  <param name="reg_residual_threshold" value="100000" />
  <param name="reg_smoothness_threshold" value="2" />
  <node pkg="perception" type="point_cloud_demo" name="point_cloud_demo" args="$(arg data_dir)" output="screen">
    <remap from="cloud_in" to="mock_point_cloud" />
  </node>
</launch>